html, body {
  width: 300px;
  height: auto;
  background-color: #0D1B2A;
}
  
.hidden {
  display: none;
}

#logo {
  margin-left: auto;
  margin-right: auto;
  width: 50vw;
  height: 50vw;
}

select {
  background-color: #E0E1DD;
  text-align-last:center;
  margin: auto;
  margin-top: 5px;
  margin-bottom: 15px;
  width: 85%;
  height: 50px;
  border-radius: 1em;
  font-size: 1.2em;
  border-width: 0;
  font-family: 'Roboto', sans-serif;
}

select option {
  font-size: 2em;
  font-family: 'Roboto', sans-serif;
}
  
button {
  display: flex;
  align-items: center; 
  justify-content: center;
  width: 85%;
  height: 10%;
  background-color: #E0E1DD;
  color: black;
  font-size: 1.2em;
  padding: 15px;
  margin-bottom: 15px;
  margin-left: auto;
  margin-right: auto;
  border: 0;
  border-radius: 2em;
  transition-duration: 0.3s;
  cursor: pointer;
  box-shadow: 2px 4px;
  font-family: 'Roboto', sans-serif;
}

button:hover {
  background-color: #415A77;
  color: #E0E1DD;
  box-shadow: 2px 4px;
}

#add-remove-buttons {
  display: flex;
  align-items: center; 
  justify-content: center;
}

#add-button {
  width: 45%;
  border-radius: 5em 0 0 5em;
  margin-right: 1px;
}

#remove-button {
  width: 45%;
  border-radius: 0 5em 5em 0;
  margin-left: 1px;
}

.material-icons {
  margin-left: 5px;
  margin-right: 5px;
}

#popup-content {
  display: flex;
  flex-direction: column;
}
